name: Build Strapi for Linux
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4  # 1. Обновлена версия checkout

      - name: Setup Node.js
        uses: actions/setup-node@v4  # 2. Обновлена версия setup-node
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm ci

      - name: Build Strapi
        run: npm run build

      - name: Upload Linux build
        uses: actions/upload-artifact@v4  # 3. Самое важное: обновлено с v3 на v4
        with:
          name: strapi-linux-build
          path: dist/
